<!DOCTYPE html>
<html>
<head>
<title>Vue Demo</title>
    <script src="js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="js/vue.js" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>
</head>
<body>

    <!-- Simple message -->
    <div id="app">
        {{ message }}
    </div>

    <!-- Directives sample: title hover -->
    <div id="app-2">
        <span v-bind:title="message">
        Hover your mouse here.
        </span>
    </div>

    <!-- Directives sample: Conditionals -->
    <div id="app-3">
        <span v-if="seen">Now you see me!</span>
    </div>

    <!-- Directives sample: for loop -->
    <div id="app-4">
        <ol>
            <li v-for="todo in todolist">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <!-- Directive sample: event handling -->
    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">ReverseMessage</button>
    </div>


    <!-- Two-way binding demo -->
    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message"/>
    </div>

    <!-- Demo on components -->
    <div id="app-7">
        <ol>
            <!-- Create instance of the todo-item component-->
            <todo-item
                v-for="item in armorlist"
                v-bind:todo="item"
                v-bind:key="item.id">
            </todo-item>
        </ol>
    </div>

    <!-- Demo on components using dynamic-loaded items for data -->
    <div id="app-8">
        <ol>
            <farmland-item
                v-for="item in datalist"
                v-bind:farmland="item"
                v-bind:key="item.id"
                v-on:click.native=alertMe>
            </farmland-item>
        </ol>
    </div>

    <!-- Demo on binding for urls -->
    <div id="app-9">
        <p>{{ url }}</p>
        <a v-bind:href="url">Link here</a>
    </div>

    <!-- Demo on using computed properties -->
    <div id="app-10">
        <p>Original message: "{{ message }}"</p>
        <p>Computed message: "{{ modifiedMessage }}"</p>
    </div>
</body>
</html>